// Header

@import "~styles/vars";

.Header
    border-bottom: 1px solid black;
    background-color darkgreen
    .logo
        display: block
        position: relative
        width 100px
        height: 100px
        background-image url("../../assets/img/logo.gif")
        background-size contain
