// Loader

@import "~styles/vars";

.Loader
    display block
    size 100%
    position fixed
    z-index 90000
    background-color $black
    visibility: hidden
    opacity 0
    color $white
    text-align center
