@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat-helpers";

//GRID
$grid-columns: 12;
$max-width: 1024px;
$border-box-sizing: true;
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

//breakpoints
$mobile-size: 640px;
$tablet-size: 768px;
$desktop-size: 1024px;
$largedesktop-size: 1440px;

$mobile: new-breakpoint(max-width $mobile-size 4);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);

@import "~bourbon-neat/app/assets/stylesheets/neat";
